
fast_neural_style/

train2014/

pre_trained_styles/

pre_trained_model/imagenet-vgg-verydeep-19\.mat

murakami_end/

basquiat/

dmendez/

haring/

martinez/

murakami/

rodriguez1-2/

lichtenstein/

rodriguez1/

johns/

starryCrop/

styled_images/test_murakami\.jpg

udnie/

unstyled_images/musiccenter\.jpg

Backup/

style_images/from_repo/

styled_images/MCP/
